# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.env.local

# Node
node_modules/
dist/
build/
.next/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Data
data/raw/*
!data/raw/.gitkeep
data/raw/RxNorm_full_prescribe_03022026/
data/raw/RxNorm_full_prescribe_03022026.zip
